<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
 <title>Prova Tampelini</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
   
</head>
<body>
<div>
<h1 style="text-align:center" >
<span th:text="${mensagem}"></span>
</h1>
<br/>
<div style="display: flex; justify-content: center;">
    <a href="/formulario"><button class="btn btn-warning" >Formulario</button></a>
</div>
<br/>    
    <table class="table table-light table-striped table-hover">
<thead>
      <tr>
        <th>Modelo</th>
        <th>Fabricante</th>
        <th>Ano Fabricante</th>
        <th>Ano Modelo</th>
        <th>...</th>
        <th>#</th>
      </tr>
</thead>
<tbody>
      <tr th:each="v : ${veiculo}">
        <td th:text="${v.modelo}"></td>
        <td th:text="${v.fabricante}"></td>
        <td th:text="${v.anoFabricacao}"></td>
        <td th:text="${v.anoModelo}"></td>
        <td><a th:href="@{editar/(id=${v.id})}" class="btn btn-warning">Editar</a></td>
        <td><a th:href="@{deletar/(id=${v.id})}" class="btn btn-danger">Deletar</a></td>
      </tr>
 </tbody> 
    </table>
</div>
   <p class="text-center"><strong>&copy; 2021 Prova Tampelini.</strong></p>
</body>
</html>